<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  
  <head>
	<link type="text/css" rel="stylesheet" href="/assets/sample.css" />
  </head>

  <body>

    <h2><a href="/">Student Example</a></h2>
    <ul>
      <li><a href="/students">Student List</a></li>
      <li><a href="/courses">Course List</a></li>
    </ul>
    <hr />
    
    <% if $data.msg %>
    <%= $data.msg %>
    <% end %>
    
    <div class="content">

<h3>Students</h3>

<table class="grid" cellpadding="0" cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Number of Courses</th>
  </tr>
  {% for s in ss %}
  <tr>
    <td><%= s.name %> </td>
    <td><%= s.email %> </td>
    <td><%= s.scores.length %> </td>
    <td><a href="/student?s__id=<%= s._id %>">edit</a></td>
    <td><a href="/student?action=Delete&s__id=<%= s._id %>">delete</a></td>
  </tr>
  {% endfor %}
  
</table>

<br>

<a href="/student">New Student</a>
    
    </div>

  </body>
</html>
